---
import Header from "../components/header.astro"
import Hero from "../components/hero.astro"
import Info	from "../components/info.astro"
import Habilidades from "../components/habilidades.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Martin Molina Portfolio</title>
	</head>
	<body class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] p-5 mx-auto flex flex-col items-center">
		<Header />
		<Hero />
		<Info />
		<Habilidades />
	</body>
</html>

<style>
	html{
		background-color: #00020f;
		color: beige;
	}

	h1{
		
	}
</style>