---
import GitHubIcon from "../icons/github.astro"
import CypressIcon from "../icons/cypress.astro"
import JavaScriptIcon from "../icons/javascript.astro"
---

<section class="pt-8 px-4 w-full md:w-[766px]  ">
    <h1 class="mb-4 font-bold font-sans text-lg text-lime-400">&#60;Habilidades /&#62;</h1>
    <div class="flex-wrap space-x-2">
        <div class="border border-white center relative inline-block select-none whitespace-nowrap rounded-lg py-1 px-3.5 align-baseline font-sans text-md leading-none text-white">
            <div class="mt-px flex items-center gap-2"><CypressIcon w="23px" h="23px"/>Cypress</div>
        </div>
        <div class="border border-white center relative inline-block select-none whitespace-nowrap rounded-lg py-1 px-3.5 align-baseline font-sans text-md leading-none text-white">
            <div class="mt-px flex items-center gap-2"><GitHubIcon w="23px" h="23px"/>GitHub</div>
        </div>
        <div class="border border-white center relative inline-block select-none whitespace-nowrap rounded-lg py-1 px-3.5 align-baseline font-sans text-md leading-none text-white">
            <div class="mt-px flex items-center gap-2"><JavaScriptIcon w="23px" h="23px"/>JavaScript</div>
        </div>
    </div>
</section>