---
import LinkedInIcon from "../icons/linkedin.astro"
import GitHubIcon from "../icons/github.astro"
import MailIcon from "../icons/mail.astro"

---

<header class="py-8 px-4 w-full">
    <nav class="flex flex-row-reverse gap-2 text-lime-400">
        <a href="https://github.com/MartinMolinaDev" title="GitHub" rel="noopener noreferrer" target="_blank" ><GitHubIcon /></a>
        <a href="https://www.linkedin.com/in/martinmolina/" title="LinkedIn" rel="noopener noreferrer" target="_blank" ><LinkedInIcon /></a>
        <a href="mailto:martindanielmolina@gmail.com" title="Contactame" rel="noopener noreferrer" target="_blank" ><MailIcon /></a>
    </nav>

</header>