---
import LinkedInIcon from "../icons/linkedin.astro"
import GitHubIcon from "../icons/github.astro"

---

<header class="py-8 px-4 w-full">
    <nav class="flex place-items-end gap-2 text-lime-400">
        <a href="https://github.com/MartinMolinaDev" title="GitHub" rel="noopener noreferrer" target="_blank" ><GitHubIcon /></a>
        <a href="https://www.linkedin.com/in/martinmolina/" title="LinkedIn" rel="noopener noreferrer" target="_blank" ><LinkedInIcon /></a>
    </nav>

</header>