---
import LinkedInIcon from "../icons/linkedin.astro"
import GitHubIcon from "../icons/github.astro"
import MailIcon from "../icons/mail.astro"
import CvIcon from "../icons/cv.astro"
---

<header class="w-full md:w-9/12 lg:w-9/12 xl:w-6/12 pt-5 px-4">
    <nav class="w-full flex flex-row-reverse gap-2 text-lime-400">
        <a href="https://github.com/MartinMolinaDev" title="GitHub" rel="noopener noreferrer" target="_blank"><GitHubIcon w="30px" h="30px"/></a>
        <a href="https://www.linkedin.com/in/martinmolina/" title="LinkedIn" rel="noopener noreferrer" target="_blank"><LinkedInIcon w="30px" h="30px"/></a>
        <a href="mailto:martindanielmolina@gmail.com" title="Contactame" rel="noopener noreferrer" target="_blank"><MailIcon w="30px" h="30px"/></a>
        <a href="/Martin_Molina_QA_CV.pdf" download="Martin_Molina_QA_CV.pdf" title="Curriculum Vitae" rel="noopener noreferrer"><CvIcon color="#83cc16" w="30px" h="30px"/></a>
    </nav>
</header>