---

---

<div class="py-4 sm:py-8 px-4 w-full">
    <h1 class="pb-2 sm:pb-3 font-bold font-sans text-4xl sm:text-6xl">Martín Molina<span class="text-lime-400 text-[09xl]">.</span></h1>
    <h2 class="font-bold font-sans text-lg sm:text-4xl">Tester QA <span class="text-lg sm:text-4xl text-transparent bg-clip-text bg-gradient-to-tr from-[#83cc16] to-[#fff]" >Manual & Automation</span></h2>
</div>