---

---

<div class="pt-4 px-4 w-full  ">
    <h1 class="mb-2 font-bold font-sans text-lg text-lime-400">&#60;Sobre mí/&#62;</h1>
    <p>Comprometido con aprender y crecer en el campo de pruebas manuales y automatizadas. Capacidad para trabajar colaborativamente y asimilar rápidamente nuevos conceptos. Apasionado por contribuir al éxito del equipo y alcanzar estándares de calidad excepcionales.</p>
</div>