---

---

<div class="py-4 sm:py-8 px-4 w-full md:w-[766px]  ">
    <h1 class="mb-2 font-bold font-sans text-md md:text-xl text-lime-400">&#60;Sobre mí /&#62;</h1>
    <p class="text-xs sm:text-base indent-8">Comprometido con aprender y crecer en el campo de pruebas manuales y automatizadas. <span class=" text-[#70b40c]">Capacidad</span> para trabajar colaborativamente y asimilar rápidamente nuevos conceptos. <span class="text-[#70b40c]">Apasionado</span>  por contribuir al éxito del equipo y alcanzar estándares de calidad excepcionales.</p>
</div>