---
import { Image } from "astro:assets";
import { YouTube } from '@astro-community/astro-embed-youtube';
---

<div class="py-4 sm:py-8 px-4 w-full md:w-[766px]">
    <h1 class="mb-5 font-bold font-sans text-md md:text-xl text-lime-400">
        &#60;Proyectos /&#62;
    </h1>
    <div class="pb-4 flex-colum sm:flex items-center">
        <Image
            class="pr-12 hidden sm:block"
            width="200"
            height="384"
            src="/mockup_.png"
            alt="sfd"
        />
        <p class="text-xs sm:text-base indent-8">
                Durante mi proyecto final de QA, diseñé nueve casos de prueba
                para una aplicación web dinámica en producción. Aunque no
                contaba con requisitos detallados, utilicé mi comprensión de las
                necesidades del usuario y las funcionalidades esperadas para
                crear casos de prueba adaptados a un entorno real. Este desafío
                me permitió fortalecer mi habilidad para elaborar casos de
                prueba efectivos y enfrentar desafíos reales en un entorno de
                desarrollo de software en producción.
        </p>
        <Image
            class="pt-6 m-auto block sm:hidden"
            width="384"
            height="200"
            src="/mockup_horizontal.png"
            alt="sfd"
        />
    </div>
    <div class="py-4 grid items-center sm:flex sm:justify-center gap-3">
        <a
            class="m-auto sm:m-0"
            href="https://docs.google.com/spreadsheets/d/1TXmdoFAxXG-vDOl26nGEqaOoEUwOmNdcO0ADzxUG5s4/edit#gid=195049823"
            title="CASOS DE PRUEBA"
            rel="noopener noreferrer"
            target="_blank"
        >
            <button
                class="mr-3 rounded-lg bg-lime-400 py-3 px-6 font-sans text-xs font-bold uppercase text-black shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                data-ripple-light="true"
            >
                DISEÑO CASOS DE PRUEBA
            </button>
        </a>
        <a
            class="m-auto sm:m-0"
            href="https://docs.google.com/document/d/18QCESx9M-B1xkI7oQVbiIc_lG_H9gbhIZJpAWDz-Ec0/edit"
            title="REPORTE DE BUGS"
            rel="noopener noreferrer"
            target="_blank"
        >
            <button
                class="mr-3 rounded-lg bg-lime-400 py-3 px-6 font-sans text-xs font-bold uppercase text-black shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                data-ripple-light="true"
            >
                REPORTE DE BUGS
            </button>
        </a>
        <a
            class="m-auto sm:m-0"
            href="https://docs.google.com/document/d/1DBlKC5htKXwrx-4voviSnJ_J8wBsh36hZCiKNyhUR4E/edit"
            title="REPORTE"
            rel="noopener noreferrer"
            target="_blank"
        >
            <button
                class="mr-3 rounded-lg bg-lime-400 py-3 px-6 font-sans text-xs font-bold uppercase text-black shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                data-ripple-light="true"
            >
                REPORTE
            </button>
        </a>
    </div>
    <!-- <YouTube
        id="TtRtkTzHVBU"
        title="The Astro Community: where contributors find a home"
    /> -->